<!doctype html>
<html>
<head>
  <title>AngularJS select exercise</title>
  <script src="../../../bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="AppCtrl">
<h1>a)</h1>
<select ng-model="selectedChar"
        ng-options="item for item in ['a','b','c','d']"></select><br>
<p>Selected: {{ selectedChar }}</p>
<h1>b</h1>
<select ng-model="selectedItem1"
        ng-options="comment.title for comment in comments track by comment.id"></select><br>
<p>Selected: {{ selectedItem1 }} </p>
<h1>c</h1>
<select ng-model="selectedItem2"
        ng-options="comment.id as comment.author + ': ' + comment.title for comment in comments"></select><br>
<p>Selected: {{ selectedItem2 }} </p>
<h1>d</h1>
<select ng-model="selectedItem3"
        ng-options= "comment.id as comment.title group by comment.author for comment in comments">
  <option value="">(none)</option></select>
<h1>e</h1>
<p>Selected: {{ selectedItem3 }} </p>
<select ng-model="selectedItem4"
        ng-options= "comment.id as comment.title group by comment.author for comment in comments | orderBy:'author'">
  <option value="">(none)</option></select>
<p>Selected: {{ selectedItem4 }} </p>
<h1>f</h1>
<select ng-model="selectedItem5"
        ng-options= "comment.id as comment.title group by comment.author for comment in comments | orderBy:['author','title']">
  <option value="">(none)</option></select>
<p>Selected: {{ selectedItem5 }} </p>
</body>
</html>
