<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello Angular!</title>
    <link rel="stylesheet" href="css/base.css">
    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="js/hello.js"></script>
</head>
<body ng-app>
<p>Please enter your name: <input ng-model="name"></p>
    <p>Hello {{ name }}!</p>

<!--<input type="text" ng-model="comment.author">-->

<!--<input type="checkbox" ng-model="booleanValue">-->

<!--<select ng-model="sex">-->
  <!--<option value="male">Male</option>-->
  <!--<option value="female">Female</option>-->
<!--</select>-->

<!--<textArea ng-model="comment.content"></textArea>-->

<!--<input type="radio" ng-model="sex" value="male" name="sex">-->
<!--<input type="radio" ng-model="sex" value="female" name="sex">-->

<!--{{ comment.author }} {{ booleanValue }} {{ sex }} {{ comment.content }}-->
</body>
</html>
