<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularJS Service demo</title>
  <script src="../../../bower_components/angular/angular.js"></script>
  <script src="service.js"></script>
</head>
<body ng-app="serviceDemo" ng-controller="ServiceDemoCtrl">
<section>
  <h1>Service demo</h1>
  <input ng-model="message">
  <button ng-click="showAlert()">Show alert!</button>
  <button ng-click="showAlert2()">Show alert 2!</button>
  <button ng-click="showAlert3()">Show alert 3!</button>
</section>
</body>
</html>
